.container{
    background-color: whitesmoke;
    box-shadow: 1px 1px 2px 1px;
    padding: 50px 8px 20px 38px;
    width: 30%;
    height: 50%;
    margin-left: 35%;
}
.txt{
    width: 90%;
    height: 5%;
    border: 1px solid brown;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
    margin: 10px 0px 15px 0px;
}
